<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    Actor object-->
    <bean id="actorObj" class="com.stackroute.domain.Actor">
        <property name="name" value="sivakarthikeyan" />
        <property name="gender" value="male" />
        <property name="age" value="30" />
    </bean>
<!--    Movie objects-->
    <bean id="movieObj" class="com.stackroute.domain.Movie" autowire="byName" />

<!--    Task 5-->
<!--    BeanLifeCycle object with init and destroy method-->
    <bean id="beanLifeCycle" class="com.stackroute.domain.BeanLifecycleDemoBean"  init-method="customInit" destroy-method="customDestroy"/>

</beans>